* { margin:0; padding:0; box-sizing:border-box; font-family: Arial; }
body { background:black; color:white; }

.menu-btn {
  position:fixed; top:15px; left:15px;
  background:#b00000; padding:10px;
  border-radius:10px; z-index:1001;
}

nav {
  position:fixed; inset:0;
  background:rgba(0,0,0,0.95);
  display:none; flex-direction:column;
  justify-content:center; align-items:center;
  z-index:1000;
}
nav.active { display:flex; }
nav a { color:#ff2a2a; font-size:1.5rem; margin:10px; text-decoration:none; }

main { padding:80px 20px; }
.card {
  background:#111; border-radius:20px;
  padding:20px; margin-bottom:20px;
  box-shadow:0 0 20px #000;
}
.card.red { box-shadow:0 0 25px #ff000055; }
input, button {
  width:100%; padding:10px;
  margin-top:10px; border-radius:10px;
  border:none;
}
button { background:#b00000; color:white; }
