* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: black;
  color: white;
}

/* TOPO */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #b00000;
  display: flex;
  align-items: center;
  padding: 0 16px;
  z-index: 1000;
}

.menu-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 26px;
  cursor: pointer;
}

.logo {
  margin-left: 12px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

/* MENU LATERAL */
.side-menu {
  position: fixed;
  top: 0;
  left: -260px;
  width: 240px;
  height: 100vh;
  background: #111;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: left 0.3s ease;
  z-index: 999;
}

.side-menu a {
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 18px;
}

.side-menu a:hover {
  background: #b00000;
}

/* MENU ABERTO */
.side-menu.active {
  left: 0;
}

/* CONTEÚDO NÃO FICAR ATRÁS DO TOPO */
main {
  padding-top: 80px;
}

 rgba(255,0,0,0.4);
}

.container {
  padding: 90px 20px;
}

.card {
  background: #111;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.card.red {
  box-shadow: 0 0 20px rgba(255,0,0,0.4);
}

input, button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

button {
  background: red;
  color: white;
  font-size: 16px;
}