* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: black;
  color: white;
}

 rgba(255,0,0,0.4);
}

.container {
  padding: 90px 20px;
}

.card {
  background: #111;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.card.red {
  box-shadow: 0 0 20px rgba(255,0,0,0.4);
}

input, button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

button {
  background: red;
  color: white;
  font-size: 16px;
}